html,
body {
  width: 100%;
  height: 100%;
}

.vis-container,
.second {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .tooltip {
    position: absolute;
    text-align: center;
    font-size: 10px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white;
} */

h1 {
  font-family: 'Raleway', sans-serif;
}

p1 {
  font-family: 'PT Mono', monospace;
  font-size: 10px;
}

.overlay {
  fill: none;
  pointer-events: all;
}
.chart_title {
  font-family: 'Raleway', sans-serif;
  font-size:  30px;
}
.left-label, .right-label {
  font-family: 'PT Mono', monospace;
}

.focus {
  font-family: 'PT Mono', monospace;
}

.eachCountry {
  stroke: 'none';
  fill: #C8C8C8;
  r: 3;
}
.eachCountry:hover {
  r: 5;
  fill: #F4F4F4;
  stroke-width: 4px;
  stroke: black;
}

.country-line.highlight-off {
  stroke: #C8C8C8;
  stroke-width: 1px;
}

.country-line.highlight-on {
  stroke: black;
  stroke-width: 4px;
}

.country-line.highlight-hover {
  stroke: black;
  stroke-width: 4px;
}


.left-label.highlight-off, .right-label.highlight-off {
  stroke: #C8C8C8;
}

.left-label.highlight-on, .right-label.highlight-on {
  stroke: black;
}

.left-label.highlight-hover, .right-label.highlight-hover {
  stroke: black;
}
